{% include 'header.html'%}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <div class="contenido-header">
            <nav class="redes-sociales">
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-youtube"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
            </nav>
        </div>
        <h1 class="display-4">SMALL DATA MINING TOOL</h1>
        <p class="lead">Pequeña herramienta que contiene algoritmos de Mineria de Datos.</p>
    </div>
</div>

{% block content %} {% endblock %} {% include 'footer.html'%}

</html>