{% extends 'base.html'%} {% block title %} Algoritmos de mineria de datos {% endblock %} {% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <h4>Bienvenido</h4>
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil sunt necessitatibus, deleniti vitae dignissimos, aliquam consequuntur hic molestiae sapiente et ducimus eligendi at? Eum nostrum, quod odit veniam ducimus sed?</p>
        </div>
        <!--Columna 1-->

        <div class="col">
            <h5>Información de la plataforma</h5>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sapiente sint labore ad et explicabo enim nulla iste. Eaque veniam delectus et temporibus velit, tenetur aut reiciendis nisi, voluptatibus labore vel.</p>

        </div>
        <!--Segunda Columa-->
    </div>
    <!--Row de las dos primero columnas-->
    <div class="row">
        <div class="col-sm-6">
            <div class="card text-white bg-dark mb-3">
                <div class=" card-body ">
                    <h5 class="card-title ">Algoritmo Apriori</h5>
                    <p class="card-text ">Pequeña introduccion al algoritmo que se va elegir </p>
                    <a href="/apriori/" class="btn btn-primary ">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 ">
            <div class="card text-white bg-dark mb-3">
                <div class="card-body ">
                    <h5 class="card-title ">Algoritmo Correlacion</h5>
                    <p class="card-text ">Pequeña introduccion al algoritmo que se va elegir </p>
                    <a href="/correlacion/" class="btn btn-primary ">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row ">
        <div class="col-sm-6 ">
            <div class="card text-white bg-dark mb-3">
                <div class="card-body ">
                    <h5 class="card-title ">Algoritmo de Distancias</h5>
                    <p class="card-text ">Pequeña introduccion al algoritmo que se va elegir </p>
                    <a href="/distancias/" class="btn btn-primary ">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 ">
            <div class="card text-white bg-dark mb-3">
                <div class="card-body ">
                    <h5 class="card-title ">Algoritmo de Clustering</h5>
                    <p class="card-text ">Pequeña introduccion al algoritmo que se va elegir </p>
                    <a href="/clustering/" class="btn btn-primary ">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 ">
            <div class="card text-white bg-dark mb-3">
                <div class="card-body ">
                    <h5 class="card-title ">Algoritmo de Clasificacion</h5>
                    <p class="card-text ">Pequeña introduccion al algoritmo que se va elegir </p>
                    <a href="/clasificacion/" class="btn btn-primary ">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
    <br>
</div>
{% endblock %}