{% extends 'base.html'%} {% block title %} Algoritmos de mineria de datos {% endblock %} {% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <h4>Bienvenido</h4>
            <p> En este sitio web encontraras diferentes algoritmos vistos en la clase de Mineria de Datos impartida en la Facultad de Ingenieria impartida por el Dr. Guillermo Gilberto Molero Castillo en el semestre 2021-1.
            </p>
        </div>
        <!--Columna 1-->

        <div class="col">
            <h5>Información de la plataforma</h5>
            <p>Este es el proyecto final de la materia y es una pequeña herramienta pensada para el usuario final con nociones sobre como funcionan estos algoritmos. Para usarla solo necesitas los datos que quieres procesar en un archivo txt,csv o de excel.
            </p>
            <p>A continuación solo tienes que dar click al algoritmo que se desea implementar.</p>


        </div>
        <!--Segunda Columa-->
    </div>
    <!--Row de las dos primero columnas-->
    <div class="row">
        <div class="col-sm-6">
            <div class="card text-white bg-dark mb-3">
                <div class=" card-body ">
                    <h5 class="card-title ">Algoritmo Apriori</h5>
                    <p class="card-text "> El algoritmo a priori es un algoritmo utilizado en minería de datos, sobre bases de datos transaccionales, que permite encontrar de forma eficiente "conjuntos de ítems frecuentes", los cuales sirven de base para generar reglas de asociación.</p>
                    <a href="/apriori/" class="btn btn-primary ">Aprori</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 ">
            <div class="card text-white bg-dark mb-3">
                <div class="card-body ">
                    <h5 class="card-title ">Algoritmo Correlacion de Pearson</h5>
                    <p class="card-text ">El algoritmo de similitud de Pearson es un importante algoritmo de análisis de similitud aplicado al estudio de grafos que toma en cuenta la covarianza entre vectores n-dimensionales que se encuentran divididos por el producto de sus
                        desviaciones estándar.</p>
                    <a href="/correlacion/" class="btn btn-primary ">Pearson</a>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row ">
        <div class="col-sm-6 ">
            <div class="card text-white bg-dark mb-3">
                <div class="card-body ">
                    <h5 class="card-title ">Algoritmo de Distancias</h5>
                    <p class="card-text ">Dentro de las funcionalidades del algoritmo de Distancias se destaca su utilidad para determinar la similitud entre dos cosas o pares de datos.Con ello podemos conseguir esquemas de datos que identifiquen elementos que tengan características
                        similares </p>
                    <a href="/distancias/" class="btn btn-primary ">Distancias</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 ">
            <div class="card text-white bg-dark mb-3">
                <div class="card-body ">
                    <h5 class="card-title ">Algoritmo de Clustering Particional</h5>
                    <p class="card-text ">El objetivo del análisis de cluster (agrupamiento) es dividir un conjunto de datos (población de datos heterogénea) en un número de grupos con elementos similares, de acuerdo a la semejanza de sus elementos. </p>
                    <a href="/clustering/" class="btn btn-primary ">Clustering</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 ">
            <div class="card text-white bg-dark mb-3">
                <div class="card-body ">
                    <h5 class="card-title ">Algoritmo de Clasificacion</h5>
                    <p class="card-text ">La regresión logística es otro tipo de algoritmo de aprendizaje supervisado cuyo objetivo es predecir valores binarios (0 o 1). Este algoritmo consiste en una transformación a la regresión lineal. La transformación se debe a que una
                        regresión lineal no funciona para predecir una variable binaria.
                    </p>
                    <a href="/clasificacion/" class="btn btn-primary ">Clasificacion</a>
                </div>
            </div>
        </div>
    </div>
    <br>
</div>
{% endblock %}